/* global styles */
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style-type: none;
}
.btn {
    padding: 10px 12px;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    cursor: pointer;
}

/* main layout */

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}
.side-bar {
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    overflow: hidden;
    background: #1f023b;
}

.main-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #181818;
}

@media only screen and (max-width: 768px) {
    .main-container {
        display: block;
        min-height: -webkit-fill-available;
    }
    .side-bar {
        min-width: 100%;
        height: 60px;
        overflow: hidden;
        background: #0f0f0f;
        position: fixed;
        z-index: 999;
        left: 0;
        bottom: 0;
    }
}
